body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
    font-size: 1.3rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
}

.prediction-result-container .prediction-result {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
